.container {
  display: flex;
  align-items: center;
  line-height: 0.6;
}

.lable {
  font-size: 20px;
}

.heading {
  font-size: 20px;
  line-height: 1;
}

.icon {
  margin-top: 6px;
}

@media (max-width: 750px) {
  .heading {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .heading {
    font-size: 6vw;
  }
  .lable {
    font-size: 5vw;
  }
}
