body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;

  background: linear-gradient(to left top, #0d0a0b, #000000) fixed;
}

.App {
  padding: 30px;
  display: flex;
}

.body {
  width: 100%;
  display: grid;
  place-content: center;
}

@media (max-width: 750px) {
  .App {
    flex-direction: column-reverse;
  }
}
