/* DownloadFile */

.label {
  font-weight: 600;
  font-size: 20px;
}

.inputBox {
  background-color: #fff;
  border-radius: 8px;
  width: 260px;
  display: flex;
  align-items: center;
  height: 35px;
}

.inputBox input {
  height: 30px;
  font-size: 16px;
  width: 85%;
  border: none;
  border-radius: 8px;
  padding-left: 8px;
}

.inputBox input:focus {
  outline: none;
}

.errLabel {
  color: #ff9494;
  line-height: 0;
  max-height: fit-content;
}
