.body {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.info {
  color: #fff;
  line-height: 0;
  transform: translateY(-50%);
  margin-left: 50px;
}

.info h1 {
  font-size: 60px;
}

.info p {
  line-height: 1;
  font-size: 30px;
}

.card {
  display: grid;
  place-content: center;
  height: 90vh;
  z-index: 1;
}

.header h1 {
  color: white;
  font-size: 40px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 70px;
  cursor: pointer;
  margin-top: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  place-items: center;
}

.footer p {
  font-size: 22px;
  color: #fff;
  margin-block-start: 0;
}

.linkedin {
  margin-left: 0.5rem;
  margin-right: 0.7rem;
  transform: translateY(2px);
  cursor: pointer;
}

.icon {
  transform: translateY(7px);
}

.globe {
  transform: translateY(-5px);
}
