.verticalLineContainer {
  display: grid;
  align-items: center;
  position: absolute;
  height: 80%;
  left: 0;
  width: 90%;
  z-index: 0;
  overflow: hidden;
}

.horizontalLineContainer {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  height: 100%;
}

.verticalLine {
  height: 2px;
  background-color: #fff;
  opacity: 0.1;
}

.horizontalLine {
  width: 2px;
  height: 85%;
  background-color: #fff;
  opacity: 0.1;
}

@media (max-width: 1500px) {
  .horizontalLineContainer {
    grid-template-columns: repeat(4, 150px);
  }
}

@media (max-width: 970px) {
  .horizontalLineContainer {
    grid-template-columns: repeat(4, 120px);
  }
}

@media (max-width: 850px) {
  .horizontalLineContainer {
    grid-template-columns: repeat(4, 100px);
  }
}

@media (max-width: 430px) {
  .horizontalLineContainer {
    grid-template-columns: repeat(4, 1000%);
  }
}
