.verticalLineContainer {
  display: grid;
  position: absolute;
  height: 80%;
  left: 0;
  width: 90%;
  z-index: 0;
  overflow: hidden;
}

.horizontalLineContainer {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  height: 100%;
  overflow: hidden;
}

.verticalLine {
  height: 2px;
  background-color: #fff;
  opacity: 0.1;
}

.horizontalLine {
  width: 2px;
  height: 85%;
  background-color: #fff;
  opacity: 0.1;
}
