/* SelectFile */

.selectHeader {
  display: flex;
  line-height: 0;
  cursor: pointer;
  margin-top: 10px;
}

.selectHeader h2 {
  font-size: 35px;
}

.selectHeader p {
  font-size: 20px;
}

.selectImg {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;
}

.uploadImg {
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  height: 220px;
}

.successImg {
  height: 80px;
}

@media (max-width: 850px) {
  .selectImg {
    height: 120px;
  }
  .uploadImg {
    height: 180px;
  }
  .selectHeader h2 {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .selectImg {
    height: 30vw;
  }
  .uploadImg {
    height: 60vw;
  }
  .selectHeader h2 {
    font-size: 25px;
  }
}

/* Uploaded */

.successHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.successHeader p {
  font-size: 25px;
  margin-left: 6px;
  font-weight: 600;
  color: #16a150;
}

/* Text Section */

.textBox {
  height: 40px;
  width: 250px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  margin-bottom: 12px;
}

.textBox p {
  margin-left: 10px;
  font-size: 22px;
}

.label {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 850px) {
  .textBox {
    width: 220px;
  }
  .textBox p {
    font-size: 18px;
    margin-right: 10px;
  }
  .label {
    font-size: 18px;
  }
  .successHeader p {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .textBox {
    width: 65vw;
  }
  .textBox p {
    font-weight: 600;
    font-size: 5vw;
    margin-right: 10px;
  }
  .label {
    font-size: 5vw;
  }
  .successHeader p {
    font-size: 6.2vw;
  }
  .successImg {
    height: 25vw;
  }
}
