.container {
  text-align: center;
  line-height: 1;
  margin: 10px;
}

.container p {
  margin-left: 15px;
  margin-right: 15px;
}

.error {
  color: red;
  font-size: 22px;
  font-weight: 650;
}

.errImg {
  height: 130px;
}

@media (max-width: 320px) {
  .errImg {
    height: 30vw;
  }
}
