.container {
  display: grid;
  place-content: center;
}

.btn {
  background: none;
  border: none;
  background-color: #000;
  color: white;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 260px;
}

.btn:hover {
  transform: translateY(-4px);
}

@media (max-width: 850px) {
  .btn {
    width: 220px;
    padding: 8px;
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .btn {
    width: 65vw;
  }
}
